/* whole page */
body {
  background-color: #333;
  color: #fff;
  /* font-family: 'Poppins'; */
}

.view-port-msg{
  display: none;
}

.read-more{
  color:rgb(68, 68, 244);
}

/* navbar */
.navbar {
  cursor: pointer;
  z-index: 1;
}

.logo-image{
  height: 7vh;
}

.nav-link {
  color: #fff;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: rgba(51, 51, 51, 0.372);
  backdrop-filter: blur(20px);
  box-shadow: 0 3px 10px black ;
}

.resume-a{
  border: 1px solid rgba(210, 210, 210, 0.372);;
  border-radius: 0.5rem;
}

/* home */
.home {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */

}

.image-container{
  /* border: 1px solid blue; */
  position: relative;
  
}
.over{
  /* border: 1px solid red; */
  position: absolute;
  width: 100%;
  top:0;
}
.profile-image{
  border-radius: 50%;
  filter: blur(100px);
}
.profile-image1{
  border-radius: 50%;
}

/* about */
.about {
  /* border: 1px solid blue; */
  height: fit-content;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* skills */
.skills-main{
  /* border: 1px solid blue; */
  padding: 10vh 0;
  /* height: 110vh; */

}
.skills-list{
  /* border: 1px solid blue; */
  padding: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-img-content{
  display: flex;
  /* border: ; */
  margin: 1rem;
  padding: 1rem;
  background-color: #121212;
  border-radius: 0.5rem;
}

.skill-img img{
  
  width: 3rem;
}

.skill-content{
  padding-left: 1rem;
  display: flex;
  align-items: center;
}


/* services */
.services {
  /* border: 1px solid blue; */
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* portfolio */

.technology-list{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.technology-btn{
  border: 1px solid grey;
  color: grey;
  border-radius: 0.5rem;
  padding: 5px 10px;
  margin: 5px;
}

.details-container{
  /* border: 1px solid blue; */
 background-color: #121212;
 border-radius: 0.5rem;
 padding: 30px;
 margin-right: 35px;
height: fit-content;
}

.portfolio {
  /* border: 1px solid blue; */
  height: fit-content;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.project-container{
  /* border: 1px solid blue; */
  width: 400px;
}

.project-container h3{
  color: #878787;
  /* background-color: rgba(255, 255, 255, 0.08); */
}

.project-container p{
  /* color: yellow; */
  border-radius: 0.5rem;
  padding:5px auto ;
  /* background-color: rgba(255, 255, 255, 0.08); */
}

.portfolio .img-fluid {
  /* border: 1px solid blue; */
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}


.project-image{
  /* border: 1px solid blue; */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact */

.logo-container{
  /* border: 1px solid blue; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-logo{
  /* border: 1px solid blue; */
  margin-top: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  position: relative;
}

.my-logo-1{
  color: #d9ed92;
  position: absolute;
  left:0;
  top:12px;
  
}

.my-logo-2{
  color: #99d98c;
  position: absolute;
  left: 3px;
  top:9px;

}

.my-logo-3{
  color: #34a0a4;
  position: absolute;
  left: 6px;
  top:6px;

}

.my-logo-4{
  color: #1e6091;
  position: absolute;
  left: 9px;
  top:3px;

}

.my-logo-5{
  color: #fff;
  position: absolute;
  left: 12px;
  top:0px;
}

.thank-you {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.contact {
  /* border: 1px solid blue; */
  padding-top: 10vh;
  padding-bottom: 30px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-group {
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.collab-col {
  width: 48%;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea.form-input {
  height: 150px;
}

.btn-submit {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #555;
}

.contact-btn {
  display: flex;
  margin: 0 auto;
  border-width: 2px;
}

.transparent-input {
  background-color: transparent;
  border: none;
  border: 2px solid grey;
  color: #fff;
}

.contact-info{
  margin-top: 30px;
}

.contact-icon{
  font-size: 250%;
  color: white;
  margin: 5px 15px;
}
.contact-icon-container{
  /* border: 1px solid blue; */
  display: flex;
  /* justify-content: center; */
}

.footer{
  height: 100px;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* common */
.heading {
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 45px;
}

/* Responsive Styling */
@media (max-width: 850px) {
  /* .project-container{
    border: 1px solid yellow;
    
  } */
  .details-container{
    /* border: 1px solid pink; */
   margin: 15px;
    /* width: 150px; */
    /* height: 100vh; */
    display: block;

  }
  /* .portfolio .img-fluid {
    border: 1px solid yellow;

  } */

  /* .container-fluid{
    border: 1px solid blue;
  } */

  /* .portfolio{
    border: 1px solid red;
  } */

  .project-image-col{
    display: none;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-lg-5 {
    margin-top: 20px;
  }

  .portfolio .img-fluid {
    height: auto;
    width: 100%;
  }

  .form-row {
    flex-wrap: wrap;
  }

  .collab-col {
    width: 100%;
  }
  
.name-input{
  margin-bottom: 20px;
}

.contact-info{
  margin-top: 50px;
}

.logo-container{
  display: none;
}
.image-container-row{
  text-align: center;
}
.navbar-nav{
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: #121212;
  padding-left: 15px;
}
.resume-a{
  width: 100px;
  padding: 15px;
  text-align: center;
  margin-bottom: 15px;
}
}

@media (max-height: 500px) {
  .base{
    display:none;
  }
  .view-port-msg{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}